.head{
    display:flex;
    margin-bottom:50px;
}
.skill-groups{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.skill-group{
    margin-bottom:30px;
    width:49%;
}
.title{
    font-size:21px;
    font-weight:bold;
    margin-right:30px;
}
.work-items{
    display:flex;

}
.work-item{
    width:340px;
}