.about{
    min-height:100vh;
    height:100%;
    color:$white-color;
}

.about__container.container{
    display: flex;
    flex-direction:row;
    align-items: center;
    width:50%;
}
.about__item{
    width:50%;
}
.about__image{
    width:200px;
    height:200px;
}
.about__img{
    border-radius:50%;
}