.logo {
    cursor: pointer;
}
.logo__href{
    width: 51px;
    height: 49px;
    display: flex;
    align-items: center;
}
.logo__svg{
    fill:$white-color;
}
@media (max-width:$bp-tablets) {
    .logo {
        margin-left:10px;
    }
}
