.menu__list{
    display:flex;
}
.menu__item{
    margin-right:60px;
    &:last-of-type{
        margin-right:0;
    }
}

.menu__link{
    text-decoration: none;
    color:$white-color;
    &:hover{
        text-decoration: underline;
    }
}