.scroll{
    display:flex;
    align-self: center;
    align-items:center;
    color:$white-color;
}

.scroll__text{
    margin-right:15px;
}

.scroll__svg{
    width:14px;
    height:14px;
    fill:$white-color;
    cursor:pointer;
}
.scroll__link{
    text-decoration: none;
    &:hover{
        text-decoration:underline;
    }
    margin-right:10px;
}
@media(max-width:$bp-tablets){
    .scroll {
        display:none;
    }
}
