.soc {
    display: flex;
    align-items:center;
}

.soc__item{
    margin-right:35px;
    &:last-of-type{
        margin-right:0;
    }
}

.soc__svg{
    height:25px;
    fill: rgba(255, 255, 255, 0.3);
    &:hover{
        fill:$white-color;
    }
}
