.tag{
    background: #F3F6F9;
    padding: 14px 22px;
    border-radius: 40px;
    color:rgba(51, 60, 73, 0.8);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
}