.talks{
    background: url('/src/images/content/blatt.webp');
    background-size:cover;
    @include section;
    min-height:692px;
}
.talks__container{
    @include container;
    justify-content:center;
    align-items:flex-start;
}
.talks__header{
    display:flex;
    margin-bottom:78px;
}
.talks__title{
    @include title_level_2;
    margin-right:110px;
}
.talks__svg {
    height: 57px;
    width: 77px;
}