.talks{
    background: url('/src/images/content/blatt.webp');
    background-size:cover;
    @include section;
    min-height: calc(100vh - 370px);
    height: calc(100vh - 370px);
}
.talks__container{
    @include container;
    justify-content:center;
    align-items:flex-start;
}
.talks__header{
    display:flex;
}
.talks__title{
    @include title_level_2;
    margin-right:110px;
}
