.wrapper{
    background: url('/src/images/content/1800.webp') #1b1f22;
    background-size: contain;
    background-repeat: no-repeat;
}
@media(max-width:$bp-desktop){
    .wrapper{
        background: url('/src/images/content/main.webp');
    }
}
