.wrapper{
    background: url('/src/images/content/1800.webp');
    background-size: contain;
}
@media(max-width:$bp-desktop){
    .wrapper{
        background: url('/src/images/content/main.webp');
    }
}
