.header-component{
    background-color:rgba(67, 67, 107, 1);
}
.header-container{
    display:flex;
    align-items:center;
    padding:16px 0;
    justify-content: space-between;
}
.header-title{
    color:#fff;
    font-size:14px;
}
.header-username{
    color:#fff;   
}
.btn{
    text-decoration:underline;
    color:#fff;
}
.header-left { 
    display: flex;
    align-items: center;
} 