.tag {
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 50px;
  background: rgba(243, 246, 249, 1);
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 13px;
  display:flex;
  align-items:center;
  cursor:pointer;
}
.tags-bottom{
  margin-top:10px;
}
.tag-remove{
  margin-left:10px;
  font-size:20px;
  font-weight:bold;
}
