.admin-skill-groups{
    display:flex;
    justify-content:space-between;
}

.admin-skill-group{
    width:48%;
}
.admin-skill-group-title{
    display:flex;
    justify-content: space-between;
    span{
        border-bottom: 1px solid black;
        padding-right:50%;
        padding-bottom:10px;
    }
}
.admin-skill-icons {
    display:flex;
    align-items:center;
    .icon-component+.icon-component{
        margin-left:10px;
    }
}