.admin-skill-groups{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.admin-skill-group-table{
    margin-bottom:30px;
    width:49%;
}
.admin-block-head{
    display:flex;
    margin-bottom:50px;
}
.admin-block-title{
    font-size:21px;
    font-weight:bold;
    margin-right:30px;
}

