.admin-skill-icons {
    display:flex;
    align-items:center;
    .icon-component+.icon-component{
        margin-left:10px;
    }
}
.admin-skill-item{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    &+&{
        margin-top:20px;
    }
}
.admin-skill-name{
    width:40%;
}