script(type='text/x-template')#reviews__components
    .reviews
        .review(v-for='item in reviews_data')
            .review__text {{ item.text }}
            .review__person
                    img(class="review_img" :src='item.image')       
                    .review__info
                        .review__name {{ item.name }}
                        .review__work {{ item.work }}