script(type='text/x-template')#reviews__components
    .container.talks__container
        .talks__header
            h2.talks__title #{lang['talks_title']}
            .arrows
                button(type="button" @click="slide('prev')" :disabled="!allowPrev").arrows__item.arrows__item--left
                    +icon('arrow-down', 'arrow__svg')
                button(type="button" @click="slide('next')" :disabled="!allowNext").arrows__item.arrows__item--right
                    +icon('arrow-down', 'arrow__svg')
        swiper.reviews(ref="slider" :options="sliderOptions")
            swiper-slide.review(v-for='item in reviews')
                .review__text {{ item.text }}
                .review__person
                    img(class="review_img" :src="'https://webdev-api.loftschool.com/'+item.photo")       
                    .review__info
                        .review__name {{ item.name }}
                        .review__work {{ item.work }}