script(type='text/x-template')#skills__components
    .container.skills__container
        h2.title-level2.skills__title #{lang['skills_title']}
        .skills__description #{user['skills_description']}
        +icon('arrow-down', 'arrow__svg')
        skills

script(type='text/x-template')#skills-groups
    div
        .skill__group(v-for='item in groups')
            h3.skill__group__title {{ item.group }} 
            skills-list(v-bind:items='item.items')

script(type='text/x-template')#skills-list
    .skills__list
        .skill(v-for='value in items')
            skill(v-bind:percent='value.percent' v-bind:name='value.name')

script(type='text/x-template')#skill
    div
       span.skill__text {{ name }}
       canvas.canvas
