script(type='text/x-template')#skills__components
    .container.skills__container
        h2.title-level2.skills__title Чем я могу быть полезен вам
        .skills__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            skills

script(type='text/x-template')#skills-groups
    div
        .skill__group(v-for='item in groups')
            h3.skill__group__title {{ item.group }} 
            skills-list(v-bind:items='item.items')

script(type='text/x-template')#skills-list
    .skills__list
        .skill(v-for='value in items')
            skill(v-bind:percent='value.percent' v-bind:name='value.name')

script(type='text/x-template')#skill
    div
       span.skill__text {{ name }}
       canvas.canvas
