script(type='text/x-template')#works__components
    .container.works__container
          h2.title-level2.works__title #{lang['works_title']}
          .works__content
            .slider
              .slider__slide-full 
                img(class="works__img-full" :src='works_data[currentSlide-1].image')
              .slider__slide-items
                .slider__slide-item(v-for='item in works_data')
                    .slider__slide-image
                      img(class="works_img" :src='item.image' @click='setCurrentSlide(item.id)') 
                .arrows.arrows--work
                    button(@click='moveSlides(-1)').arrows__item.arrows__item--work.arrows__item--left
                      +icon('arrow-down', 'arrow__svg')
                    button(@click='moveSlides(1)').arrows__item.arrows__item--work.arrows__item--right
                      +icon('arrow-down', 'arrow__svg')
              .slider__slide--number {{currentSlide}}     
            .works__description
              .tags.works__tags
                .tag(v-for='item in works_data[currentSlide-1].tags') 
                    span {{item}}
              h3.title-level3.works__name {{works_data[currentSlide-1].name}}
              .works__text {{works_data[currentSlide-1].description}}
              a(:href="works_data[currentSlide-1].link" class="works__link" target="_blank") 
                +icon('link', 'works__svg') 
                span #{lang['work_link']}
