.head{
    display:flex;
    margin-bottom:50px;
}
.title{
    font-size:21px;
    font-weight:bold;
    margin-right:30px;
}
.reviews-items{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.review-item{
    width:32%;
    margin-bottom:20px;
}
.review-item.square-btn-component{
    width:32%;
    height: auto;
}
