.notification {
    transition: transform .3s;
  }
  
  .notify-container {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index:20;
  
    &.active {
      .notification {
        transform: translateY(-100%);
      }
    }
  }