.header-username{
    font-size:18px;
    margin: 0 20px 0 10px;
}
.tabs-admin{
    margin-bottom:50px;
}
.admin-block-head{
    display:flex;
    margin-bottom:50px;
}
.admin-block-title{
    font-size:21px;
    font-weight:bold;
    margin-right:30px;
}
