.admin-skill-group{
    width:48%;
}
.admin-skill-group-title{
    display:flex;
    justify-content: space-between;
}
.admin-skill-icons {
    display:flex;
    align-items:center;
    .icon-component+.icon-component{
        margin-left:10px;
    }
}