.tabs-admin{
    padding:27px 0;
}
.tabs-admin__list{
    display:flex;
}
.tabs-admin__item{
    list-style-type: none;
    font-size:16px;
    padding:0 20px 30px 20px;
    &:hover{
        color:rgba(56, 59, 207, 1);
        border-bottom:2px solid rgba(56, 59, 207, 1);
    }
    &+&{
        margin-left:20px;
    }
    &.is-active{
        color:rgba(56, 59, 207, 1);
        border-bottom:2px solid rgba(56, 59, 207, 1);        
    }
}
.tabs-admin__link{
    text-decoration:none;
}